/* resets the default behavior (*) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .content {
  float: right;           /* Add this */
    width: 650px;
    height: 500px;
    background-color: #F5CF8E;
  }
  
  .menu {
    height: 100px;
    background-color:#000000
  }
  
  .sidebar {
    height: 150px;
    background-color: #000000;    /* Red */
  }
  
  .content {
    height: 500px;
    background-color: rgb(31, 51, 51);  
  }
  
  .footer {
    height:1000px;
    background-color: #5015be;    /* Light blue */
  }
  