/* resets the default behavior (*) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .content {
  float:left;         
    width: 650px;
    height: 500px;
 
  }
  
  .menu {
    height: 100px;
    background-color:#0827f1d8
  }
  
  .sidebar {
    height: 150px;
    border-style: solid;
    background-color: #098af4d8;    
  }
  
  .content {
    margin: 0;
    padding: 0;
    height: 750px;
   border-style: solid;
   border-color: mintcream;
   border-width: 4px;
    overflow: hidden;
    
  }
  
  p {
    font-size: 14px;
    line-height: 10px;
    font-weight: 900;
    margin: 0;
    background: url(https://opengameart.org/sites/default/files/oc__lucius__manga_character__by_flamespeedy-d7kd5c9_1.jpg) no-repeat;
    background-size:contain;
    background-position: local;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0) ;
    }
  
  .footer {
    height:1000px;
    background-image: url('https://opengameart.org/sites/default/files/tile-12-02-2021-00-04-03_0.png');
  }
  